.container{
    width: 780px;
    margin: 0px auto;
    background-color: lightgrey;
    padding: 20px;
    text-align: center;

}
h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: serif;
}

img.octocat {
    height: 200px;
}

.row {
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    margin: 20px;
    padding: 20px;
}

.pink {
    background-color: lightpink;
    justify-content: space-evenly;
}

.blue {
    background-color: aqua;
}

.white {
    background-color: whitesmoke;
}

p {
    text-align: center;
}